@media (max-width: 767px){
    .header-menu {
    padding: 0px 0px;
}
    .banner-text-sec {
    position: relative !important;
    transform: none !important;
    left: 0!important;
        bottom: -175px !important;
}
    .page-title-area{
    padding-bottom: 50px !important;
    padding-top: 50px !important;
}
/*
    .exhibitions .page-title-area{
   padding-top: 170px !important;
        padding-bottom: 175px !important;
}
*/
    .slider-height{
        position: relative;
    /* padding: 240px 0px 240px 0px; */
    height: 30vh;
    }

    .service__sidebar--widget__btn a{
        margin: 10px 0 !important;
        padding-left: 65px !important;
        height: 40px !important;
        line-height: 40px !important;
    }
    .service__sidebar--widget__btn a i{
        height: 40px !important;
        line-height: 40px !important;
    }
    .btn_side .row {
    display: block;
    text-align: center;
    margin: 0 auto;
}
    
    .slider-text h3{
/*
        font-size: 45px;
        line-height: 45px;
*/
        font-size: 25px;
        line-height: 25px;
    }
    .sub_heading{
        font-size: 25px !important;
        margin-top: 15px;
    }
    .brand-area2 .resp-img{
        height: 300px;
        object-fit: cover;
    }
    .mgteam{
        margin-top: 30px;
    }
    .experience-area{
        overflow-x: hidden;
    }
    .mob-sec-pad{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .inner-row .row{
        --bs-gutter-x: 0 !important;
    }
}
@media (min-width: 768px) and (max-width: 1366px){
.banner-text-sec {
        position: absolute;
    transform: translate(-10%, 0%);
    right: 0;
    top: auto;
    bottom: 20px;
    left: 65%;
}
}
@media (min-width: 720px) and (max-width: 1280px){
.banner-text-sec {
        position: absolute;
    transform: translate(-10%, 0%);
    right: 0;
    top: auto;
    bottom: 0;
    left: 60%;
}
}




@media (min-width: 480px) {
  .rwd-table td:before {
    display: none;
  }
    .rwd-table tr:first-child .td{
        display: none;
    }
}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: .25em .5em;
  }
  .rwd-table th:first-child, .rwd-table td:first-child {
    padding-left: 0;
  }
  .rwd-table th:last-child, .rwd-table td:last-child {
    padding-right: 0;
  }
}

@media (min-width: 480px) {
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
  }
}

@media (min-width: 768px) {
.table_cus tr:first-child {
    display: none;
    }
    
}
@media (min-width: 320px) and (max-width: 768px) {
    tr:first-child td {
/*    display: none;*/
    }
}
@media (min-width: 737px) and (max-width:768px) {
    .export_img {
        padding:0
    }

    .export_text {
        padding: 10px 15px
    }
}
@media only screen and (max-width: 767px) {
    .export_img.col-3 {
        padding:0
    }
    .export_text {
        padding: 10px 15px
    }

    .export_text {
        margin: 0;
        margin-bottom: 10px
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .img_caption{
            margin-right: 12%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1246px){
.main-menu.main-menu-3 > nav > ul > li:not(:last-child) {
    /* margin-right: 24px; */
    margin-right: 6px;
}
    .main-menu > nav > ul > li > a{
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1256px){
    .main-menu > nav > ul > li > a{
        font-size: 12px;
    }
}
@media (min-width: 1439px) and (max-width: 1599px) {
 .main-menu > nav > ul > li:not(:last-child) {
    margin-right: 20px;
}
}